<% include ../partials/header %>
<div class="container" style="margin-bottom:100px;">
    <div class="row center">
        <h4><%= blog.name %></h4>
        <img class="img-responsive" src="<%= blog.imageURL %>"/>
        <p style="font-size: 1.3em;" align="left"><%= blog.content %></p>
        <p style="font-size: 1em;"><em>Submitted by: <%= blog.author.username %>, <%= moment(blog.createdAt).fromNow() %></em></p>
        <% if(currentUser && blog.author.id.equals(currentUser._id)){ %>
          <form action="/blogs/<%= blog._id %>?_method=DELETE" method="POST" class="delete-form">
              <button class="waves-effect waves-light btn red">Delete Blog</button>
          </form>
          <a class="btn btn-primary waves-effect waves-light" href="/blogs/<%= blog._id %>/edit">Edit Blog</a>
        <% } %>
        <br>
        <div align="center">
          <% if(currentUser){ %>
            <form style="width: 80%;" action="/blogs/<%= blog._id %>/comments/new" method="POST">
                <textarea style="width: 100%; font-size: 1.3em;" id="commentArea" class="materialize-textarea" name="comment[text]" maxlength="100" minlength="2" required placeholder="Have a comment? Write your comment here."></textarea>
                <label for="commentArea">Add your comment</label>
                <br>
                <button style="margin: 5px;" class="btn btn-primary waves-effect waves-light">Submit</button>
            </form>
          <% } %>
          <br>
        </div>
        <h5>Comments</h5>
        <div align="left">
          <% blog.comments.forEach(function(comment){ %>
            <br>
            <form style="width: 100%;" id="<%= comment._id %>" onsubmit="return check()" action="#" method="POST">
              <textarea style="width: 100%; font-size: 1.3em;" id="<%= comment._id %>text" name="comment[text]" class="materialize-textarea" maxlength="100" minlength="2" required readonly><%= comment.text %></textarea>
              <div style="font-size: 0.8em;">
                <strong><%= comment.author.username %></strong>
                <span><%= moment(comment.createdAt).fromNow() %></span>
              </div>
              <% if(currentUser && comment.author.id.equals(currentUser._id) ){ %>
                    <button style="margin: 10px 5px 10px 0px;" class="waves-effect waves-light btn red" onclick="deleteComment('<%= blog._id %>' , '<%= comment._id %>');">Delete</button>
                    <button style="margin: 10px 5px 10px 5px;" id = "<%= comment._id%>btn" class="btn btn-primary waves-effect waves-light" onclick="editComment('<%= blog._id %>' , '<%= comment._id %>');">Edit</button>
              <% } %>
            </form>
          <% }) %>
        </div>
    </div>
 </div>
<!-- Scripts for edit and delete comments -->
<script type="text/javascript">

  function check(){
    var element = document.activeElement;
    var textProp = element.textContent.replace(/\s/g,'')
    if(textProp.localeCompare('Save')===0){
      return false;
    }else{
      return true;
    }
  }

  function deleteComment(blogID, commentID)
  {
    var currentForm = document.getElementById(commentID);
    currentForm.action = "/blogs/"+blogID+"/comments/"+commentID+"?_method=DELETE";
  }

  function editComment(blogID, commentID)
  {

    var elementId = commentID+"btn";
    var element = document.getElementById(elementId);
    var textProp = element.textContent.replace(/\s/g,'')

    var elementTextid = commentID+"text";
    var elementText = document.getElementById(elementTextid);
    var text = elementText.value;

    if(textProp.localeCompare('Edit')===0){
      element.textContent='Save';
      elementText.readOnly = false;
    }
    else{
      element.textContent='Edit';
      elementText.readOnly = true;
      var currentForm = document.getElementById(commentID);
      currentForm.action = "/blogs/"+blogID+"/comments/"+commentID+"?_method=PUT";
    }
    elementText.value = text;
  }
</script>
<% include ../partials/footer %>
