<div class="container">
	<h1 align="center">Currencies</h1>
	<div class="row" style="margin-bottom:100px;margin-left:150px;">
		<% prices.forEach(function(price){ %>
			<div class="col s6 m4 l4">
				<div class="card large" style="width: 60%;min-height: 45vw;object-fit: cover;">
					<div class="card-image" style="opacity:0.95;">
						<img src="<%= price.url %>">
						<span class="card-title" style="color:black"> <%= price.pair.toUpperCase() %> </span>
					</div>
					<div class="card-content" style="overflow: visible">
						<% price.exchanges.forEach(function(exchange){ %>
							<a href="<%=exchange.url%>"><%=exchange.exchange%></a>
							<p> Last Price: <%= exchange.last %> </p>
							<p> Highest Price: <%= exchange.highest %> </p>
							<p> Lowest Price: <%= exchange.lowest %> </p>
							<p> Volume Left: <%= exchange.volume %> </p>
							<hr>
						<% }); %>
				 	</div>
				</div>
			</div>
		<% }); %>
	</div>
</div>
