<div class="container">
	<div class="container" align="center">
      <h1 class = "center-align" style="color: black;"> Currencies</h1>
      <br>
  </div>
  <div class="row" style="margin-bottom:100px;">
      <% var i = 0 %>
			<% prices.forEach(function(price){ %>
			<% if (i % 3 === 0) { %>
			<div class="col s12 m6 l4">
					<div class="card large">
							<h2 class="header"> <%=price.pair%> </h2>
	            <div class="image">
	                <img src= "https://en.bitcoin.it/w/images/en/2/29/BC_Logo_.png">
	            </div>

							<% } %>
							<div class="col l3" style="column-fill:auto;">
									<ul>
											<li>
													<div>
															<b>Exchange</b>
															<br>
															<%= price.exchange %>
													</div>
											</li>
											<li>
													<div>
															<b>Last Sell Price</b>
															<br>
															<%= price.last %>
													</div>
											</li>
											<li>
													<div>
															<b>Lowest Sell Price</b>
															<br>
															<%= price.lowest %>
													</div>
											</li>
											<li>
													<div>
															<b>Highest Sell Price</b>
															<br>
															<%= price.highest %>
													</div>
											</li>
											<li>
													<div>
															<b>Volume Left</b>
															<br>
															<%= price.volume %>
													</div>
											</li>
									</ul>
							</div>
					<% ++i %>
		      <% }); %>
		  </div>
	</div>
	<a href="#" class="waves-effect waves-light btn" onclick="document.refreshPrices.submit();">
        <i class="material-icons left">trending_up</i>
        Refresh Prices
  </a>
</div>
